apiVersion: v1
kind: Namespace
metadata:
  name: devsunamespace

---
apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: devsudeployment
  namespace: devsunamespace
spec:
  selector:
    matchLabels:
      app: pruebadevsu
  replicas: 2 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: pruebadevsu
    spec:
      containers:
        - name: pruebadevsucontainer
          image: drosero01/devsu:latest # Image that will be used to containers in the cluster
          ports:
            - containerPort: 8080 # The port that the container is running on in the cluster

---
apiVersion: v1 # Kubernetes API version
kind: Service # Kubernetes resource kind we are creating
metadata: # Metadata of the resource kind we are creating
  name: devsuservice
  namespace: devsunamespace
spec:
  selector:
    app: pruebadevsu
  ports:
    - protocol: "TCP"
      port: 8080 # The port that the service is running on in the cluster
      targetPort: 8080 # The port exposed by the service
  type: LoadBalancer # type of the service.

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: devsu-autoscaling
  namespace: devsunamespace
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pruebaDevsu
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50


